body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row-header{
  
  padding:0px auto;
  margin:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: none ;
  color:black;
  border: peachpuff;
  border-radius: 0px;
  
}

.center {
  text-align: center;
  margin: auto;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #24a7cf;
  color: black
}

.full-page{
  height: 100%;
  min-height: 100vh;
}

.getStarted{
  background-image: url("images/virus.png");
  background-size: cover;
}

.contactUs{
  background-image: url("images/contactUs.jpg");
  background-size: cover;
  
}

.aboutUs{
  background-image: url("images/aboutUs.jpg");
  background-size: cover;
  
  
}

.largeFont{
  font-size: xx-large;
}

.flex{
  display: flex;
}

.borderRight{
  border: peachpuff;
  border-right: solid 2px;
}

.borderBottom{
  border-bottom: solid 5px;
}

.table{
  background-color: #bad6d5;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}